* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    background: linear-gradient(#C9D6FF, #E2E2E2);
}

.banner .container {
    width: 440px;
    height: 340px;
    padding: 30px;
    /* border: 2px solid green; */
    background-color: white;
}

.container .logo {
    width: 100%;
    height: 45px;
    margin-top: 30px;
    /* border: 2px solid black; */
}

.container .logo img {
    width: 130px;
    height: 35px;
}

.container .hed {
    width: 100px;
    height: 30px;
    /* border: 2px solid grey; */
}

.container .hed h3 {
    font-size: 23px;
    font-weight: 600;
}

.container form {
    width: 100%;
    height: 100;
    margin-top: 20px;
    border-bottom: 1.5px solid rgba(119, 119, 119, 0.7);
}

.container form input {
    width: 100%;
    height: 100;
    padding: 5px;
    outline: none;
    border: none;
}

.container form input::placeholder {
    font-size: 16px;
    color: rgba(119, 119, 119, 0.8);
}

.container .para {
    width: 200px;
    height: 25px;
    display: flex;
    margin-top: 25px;
    /* border: 2px solid navy; */
}

.container .para p {
    font-size: 15px;
}

.container .para a {
    color: #0067b8;
    font-size: 15px;
}

.container .link {
    width: 200px;
    height: 25px;
    font-size: 15px;
    margin-top: 10px;
    /* border: 2px solid yellow; */
}

.container .link a {
    color: #0067b8;
}

.container .btn {
    position: relative;
}

.container .btn button {
    border: none;
    color: white;
    background-color: #0067b8;
    width: 110px;
    height: 33px;
    position: absolute;
    bottom: -60px;
    right: 0px;
}

.banner .box {
    width: 440px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
}

.banner .box i {
    color: black;
    font-size: 18px;
    transform: rotateY(180deg);
    position: absolute;
    top: 11px;
    left: 27px;
}

.banner .box p {
    padding: 60px;
}

@media screen and (max-width: 549px) {
    .banner .container {
        width: 100%;
    }

    .banner .box {
        width: 100%;
    }


}